@model IEnumerable<Kursach.Models.Modeli>

@{
    ViewData["Title"] = "Посты";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/style1.css" />
<header class="header" id="start">
    <div class="container">
        <div class="wrapper" link="#39445f">
            <div class="logo">
                <img src="/img/Logo.png" alt="Logo">
            </div>
            <nav class="navigation">
                <a asp-action="NewPost" asp-controller="Home" class="li">Добавить</a>
                <a asp-action="Index" asp-controller="Home" class="li">Назад</a>
                <a asp-action="Glavnaya" asp-controller="Home" class="li">Выйти</a>
            </nav>
        </div>
        <div class="button-navigation">
            <button class="scroll-bar">
                <a href="#start"><img src="/img/scroll-up.svg" alt="scroll-bar"></a>
            </button>
        </div>
    </div>
</header>
<section class="about abou">
    <div class="about-wrapper">
        <div class="Abo">
            <div class="title-about">
                <h2>Посты</h2>
            </div>
        </div>
    </div>
    <div class="review-wrapper">
        <div class="form2">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Пост</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID_Model</td>
                        <td>@item.Model</td>
                        <td><a asp-action="DetaliPosta" asp-controller="home" asp-route-id="@item.ID_Model" class="ssilka">Подробнее</a></td>
                        <td><a asp-action="DeletePost" asp-controller="home" asp-route-id="@item.ID_Model" class="ssilka">X</a></td>
                        <td><a asp-action="EditPost" asp-controller="home" asp-route-id="@item.ID_Model" class="ssilka">Изменить</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>